.supplierDetails {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    text-align: center;

}


.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 32px;
    border-radius: 16px;
    background-color: #EBEEFD;
    gap: 80px;
    box-shadow: 0px 4px 4px -1px #0C0C0D0D;
}

.inputDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.inputDiv div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputDiv input{
    padding: 8px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    width: fill;
}

.inputDiv select{
    padding: 8px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    width: fill;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputDiv label{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.inputDiv p{
    margin: 0;
    opacity: 50%;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}